.reveal .slides {
    font-family: 'Ubuntu'
}

.reveal .slides h1,
.reveal .slides h2,
.reveal .slides h3 {
    font-family: 'Ubuntu Mono';
    font-size: 44pt;
}

.reveal .slides .header-align-left {
    margin-left: 43pt;
    text-align: left;
}

.reveal .slides .header-align-right {
    margin-right: 43pt;
    text-align: right;
}

.reveal .slides iframe {
    border: 0;
}

.devon.reveal section img.reset {
    background: none;
    border: 0;
    box-shadow: none;
}

.devon-link {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.angular-link {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.devon.reveal .highlight {
    color: #01b1c1;
}

.devon.reveal .no-text-transform {
    text-transform: none;
}

.devon.reveal .monospace {
    font-family: monospace;
    font-size: smaller;
}

.devon.reveal .title-with-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.devon.reveal .tables-of-content {
    display: flex;
}

html .reveal section .max-height-unset {
    max-height: unset;
}

html .reveal section div.quote-source {
    margin-top: 25px;
    text-align: right;
    font-size: 30px;
}

html .reveal section img.no-border {
  background: none;
  border: 0;
  box-shadow: none;
}

.reveal section .width-60-percent {
    width: 60%;
}

.reveal section .width-70-percent {
    width: 70%;
}

.reveal section .width-80-percent {
    width: 70%;
}

.reveal section .width-100-percent {
    width: 100%;
}

.reveal section .size-medium {
    font-size: 75%
}

.reveal section .header-logo.margin-top-6-em {
    margin-top: 6em;
}

.reveal p.foot-note {
    text-align: left;
    line-height: 1;
}

.reveal section .priorities{
    color: red;
}

.reveal section .priorities span {
    font-size: 0.7em;
    color: black;
}

.reveal section .blue {
    color: blue;
}

.reveal section .header-logo {
    height: 200px;
    width: auto;
    border: none;
    margin: 25px;
    box-shadow: none;
    background: transparent;
}

.bannerTextHeadline {
    color: #FFA700;
    font-size: 1.5em;
    padding: 0 1.4em;
    padding-bottom: .5em;
}

.bannerText p {
    font-size: 0.7em;
    line-height: 0.7em;
}

.reveal .bannerTextHeadline,
.reveal .bannerText {
    font-family: 'Segoe UI';
    font-weight: lighter;
}

.reveal .code-in-list {
    padding: 0;
    margin: 0;
    font-size: 0.44em;
}