@font-face {
  font-family: montserrat-light;
  src: url('../fonts/Montserrat-Light.ttf');
}

body {
  position: relative;
}

body::before{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 0;
    height: 0;
    border-left: 100em solid transparent !important;
    border-top: 7em solid #4bbdec;
    clear: both;
    z-index: 1;
    clip: rect(auto);
}

body {
  background-image: url(../img/Capgemini_Logo_Color_RGB.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 3% 97%;
}

.reveal .devonfw-headline {
  z-index: 5;
  padding: 3rem !important;
}

.reveal .devonfw-headline h1 {
  margin-top: 3rem !important;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  font-family: montserrat-light;
}

.underline-devon-blue:after {
  content: '';
  margin-top: .8rem;
  margin-left: .15rem;
  height: .3rem;
  width: 5.5rem;
  border-radius: 2px;
  display: block;
  background-color: #4bbdec;
}

.reveal {
  z-index: 5;
}
