.reveal .slides {
    font-family: "Ubuntu";
}

.reveal .slides h1,
.reveal .slides h2,
.reveal .slides h3 {
    color: #0070ad;
    font-family: "Ubuntu Mono";
    font-size: 44pt;
}

.reveal .slides h4 {
    color: #0070ad;
    font-family: "Ubuntu Mono";
    font-size: 32pt;
    padding-bottom: 12px;
}

li {
    margin-left: 24px;
    list-style: circle;
}

.reveal .slides .header-align-left {
    margin-left: 43pt;
    text-align: left;
}

.reveal .slides iframe {
    border: 0;
}

.devon.reveal section img.reset {
    background: none;
    border: 0;
    box-shadow: none;
}

.devon-link {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.angular-link {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.devon.reveal .highlight {
    color: #01b1c1;
}

.devon.reveal .no-text-transform {
    text-transform: none;
}

.devon.reveal .monospace {
    font-family: monospace;
    font-size: smaller;
}

.devon.reveal .title-with-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.devon.reveal .tables-of-content {
    display: flex;
}

html .reveal section .max-height-unset {
    max-height: unset;
}

html .reveal section div.quote-source {
    margin-top: 25px;
    text-align: right;
    font-size: 30px;
}

html .reveal section img.no-border {
    background: none;
    border: 0;
    box-shadow: none;
}

.reveal section .width-70-percent {
    width: 70%;
}

.reveal section .width-80-percent {
    width: 70%;
}

.reveal section .width-100-percent {
    width: 100%;
}

.reveal section .size-medium {
    font-size: 75%;
}

.reveal section .header-logo.margin-top-6-em {
    margin-top: 6em;
}

.reveal p.foot-note {
    text-align: left;
    line-height: 1;
}

.reveal section .priorities {
    color: red;
}

.reveal section .priorities span {
    font-size: 0.7em;
    color: black;
}

.reveal section .blue {
    color: #0070ad;
}

.reveal section .header-logo {
    height: 200px;
    width: auto;
    border: none;
    margin: 25px;
    box-shadow: none;
    background: transparent;
}

.bannerTextHeadline {
    color: #ffa700;
    font-size: 1.5em;
    padding: 0 1.4em;
    padding-bottom: 0.5em;
}

.bannerText p {
    font-size: 0.7em;
    line-height: 0.7em;
}

.reveal .bannerTextHeadline,
.reveal .bannerText {
    font-family: "Segoe UI";
    font-weight: lighter;
}

.reveal .code-in-list {
    padding: 0;
    margin: 0;
    font-size: 0.44em;
}

.reveal .slides .cap-blue {
    color: #0070ad;
}

.reveal .green {
    color: #01b1c1;
}

.reveal p {
    font-size: 2rem;
    margin: 24px 0;
}

.reveal .img-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    text-align: left;
}

.reveal .img-grid figure img,
.reveal .img-grid figure figcaption {
    float: right;
}

.reveal .img-grid ul li {
    font-size: 2rem;
}

.reveal pre code.no-max-height {
    max-height: unset;
}

.reveal pre code {
    text-align: left;
}

.reveal pre {
    margin-top: 12px;
}

.reveal .fullscreen {
    height: 100%;
    width: 100%;
}

.reveal ul {
    font-size: 3rem;
    text-align: left;
}

.reveal ul li p,
.reveal ul li span {
    font-size: 2rem;
    text-align: left;
}

.reveal .header-bottom-left {
    position: absolute;
    bottom: 0;
    margin-bottom: 10rem;
    max-width: 65rem;
    text-align: left;
}

.reveal .header-bottom-left p {
    font-size: 2rem;
}

.reveal .margin-left {
    margin-left: 1rem;
}

.reveal .cap-white {
    color: white;
}

.reveal .slides .event-loop-scribble {
    width: 50%;
    border: 0;
    box-shadow: none;
    background: transparent;
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}