
.reveal img.logoImage{
  border: none;
  background: none;
  margin: 0 0 0 0;
  transition: none;
  box-shadow: none;
}

#logoNameContainer{
    margin-top: -10px;
}

#extjsLogoFirst{
  color: #165ba9;
  font-size: 70px;
}

#extjsLogoSecond{
  color: #78902e;
  font-size: 70px;     
}

#reactLogoText{
  color: #61dafb;
  font-size: 70px;          
}

#FrameWorksOverviewContainer{
    /*background-color: #FFFFFF;
    */
    width: 1000px;
    height: 500px;
    margin: auto;
}

#FrameworksShowTrigger{
    width: 400px;
    height: 70px;
    box-shadow: 1;
    background-color: #222222;
    text-align: center;
    line-height: 70px;
    margin: auto;
    margin-top: 200px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}

#FrameworksShowTrigger:hover{
    border: 2px solid #FFFFFF;
    color: lawngreen;
}

#timelineContainer{
    width: 800px;
    margin: auto;
    height: 10px;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    margin-top: 300px;
}

#timeline{
    width: 10px;
    height: 10px;
    background-color: lawngreen;
    float: left;
}

#timeLineCanvas{
    margin: auto;
    display: none;
    margin: 0px;
    padding: 0px;
    transition: none;
    box-shadow: none;
}

#restartButton{
    width: 140px;
    height: 70px;
    box-shadow: 1;
    text-align: center;
    line-height: 70px;
    margin: auto;
    cursor: pointer;
    display: none;
    position: absolute;
    margin-left: 450px;
}

.reveal span.highlight{
  color: lawngreen;
}

#GoogleChartContainer{
    background-color: #FFFFFF;
    margin-top: 50px;
}

#citeTextFrameworks{
    font-size: 25px;
}




