table thead {
    font-weight: bold;

}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
tr td{
    border: 1px solid #ddd;
    margin:0;
}
td,th{
    padding:5px 5px;
}
pre,p{
    margin:0
}
body{
    zoom: 1.5;
}
