<div>
  <label for="movie-title">Title: </label><input id="movie-title" [(ngModel)]="movie.title"
    data-cy="movie-title-input"><br>
  <label for="movie-directors">Directors: </label><input id="movie-directors" [(ngModel)]="movie.directors"
    data-cy="movie-directors-input"><br>
  <label for="movie-description">Description: </label><input id="movie-description" [(ngModel)]="movie.description"
    data-cy="movie-description-input"><br>
  <label for="movie-year">Year: </label><input id="movie-year" type="number" [(ngModel)]="movie.year"
    data-cy="movie-year-input"><br>
  <button (click)="onApplyClick()" data-cy="save-movie-button">Save</button>
  <button (click)="onCreateClick()" data-cy="add-movie-button">Create New</button>
</div>