<div>
  <label for="movie-title">Title: </label><input id="movie-title" [(ngModel)]="movie.title"><br>
  <label for="movie-directors">Directors: </label><input id="movie-directors" [(ngModel)]="movie.directors"><br>
  <label for="movie-description">Description: </label><input id="movie-description" [(ngModel)]="movie.description"><br>
  <label for="movie-year">Year: </label><input id="movie-year" [(ngModel)]="movie.year"><br>
  <button (click)="onApplyClick()">Save</button>  
  <button (click)="onCreateClick()">Create New</button>
</div>
