:host {
    display: flex;
    flex-wrap: wrap;

    .card {
        flex: 0 0 600px;
        background-color: white;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        margin: 16px;
        padding: 16px;
        line-height: 1.2;
    }

    .row-active {
        background-color: rgba(0,0,0,0.2);
    }
    td {
        padding: 8px 16px;
    }
    table {
        border-spacing: 0;
        border-collapse: collapse;
    }
}