.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
    margin-bottom: 30px;
    font-weight: normal;
}

.reveal section img {
    border: none;
    box-shadow: none;
}

.reveal section img.middle {
    vertical-align: middle;

}

.reveal ul li, .reveal ol li {
    margin-bottom: 0.4em;
}

.reveal blockquote b {
    color: #3b759e;
}
.reveal ul{
    list-style: none;
}
.reveal ul > li:before {
    content: "–";
    position: absolute;
    margin-left: -1.1em;
}

.reveal li a {
    white-space: nowrap;
}
.reveal pre {
    width: 100%;
}
.reveal code {
    background-color: rgb(63, 63, 63);
    font-family: monospace;
    color: rgb(220, 220, 220);
    padding: 3px 10px;
    font-size: 75%;
    vertical-align: middle;
}