.reveal h1.no_upper,
.reveal h2.no_upper,
.reveal h3.no_upper,
.reveal h4.no_upper,
.reveal h5.no_upper,
.reveal h6.no_upper {
    text-transform: none;
}

.reveal section img {
    border: none;
    box-shadow: none;
}

.reveal section img.middle {
    vertical-align: middle;
}

.reveal p {
    margin: 0;
}
.reveal .slides{

}
