.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
}

.red {
    color:red
}

.reveal ul {
    list-style-type: none;
}

.reveal ul > li {
    margin-left: 2em;
}

.reveal ul > li:before {
    content: "–";
    position: absolute;
    margin-left: -1.1em;
}

.reveal  .blue{
    color :#3b759e;
}

.reveal .wide-table{
    width: 1280px;
    margin-left: -170px;
}

.reveal .http-headers{
     background: rgb(63, 63, 63);
     font-family: monospace;
     font-size: 20px;
     color: rgb(220, 220, 220)
}

.reveal .http-headers .attr{
    color: rgb(204, 147, 147)
}