<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Angular Data Binding</title>
    <link rel="icon" href="../common/img/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="../node_modules/reveal.js/css/reveal.css">
    <link rel="stylesheet" href="../node_modules/reveal.js/css/theme/white.css">
    <link rel="stylesheet" href="../common/css/common.css">
    <link rel="stylesheet" href="css/own.css">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="../common/css/github-gist.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match(/print-pdf/gi) ? '../node_modules/reveal.js/css/print/pdf.css' : '../node_modules/reveal.js/css/print/paper.css';
        document.getElementsByTagName('head')[0].appendChild(link);
    </script>
</head>
<body>
<section class="angular-link">
    <a href="http://angular.io" target="_blank"><img height="50px" src="../common/img/angular.svg"></a>
</section>
<section class="devon-link">
    <a href="http://devonfw.github.io" target="_blank"><img height="30px" src="../common/img/devon_logo_blue.png"></a>
</section>
<div class="devon reveal">
    <div class="slides">
        <section>
            <h1>Data Binding</h1>
            <aside class="notes">
              Data Binding describes how components communicate with each other and how is the data model linked to the html template.
            </aside>
        </section>
        <section>
            <div class="title-with-image">
                <img class="reset" src="img/interpolation-databinding.png">
                <h2>Interpolation</h2>
            </div>

            <pre class="width-100-percent"><code class="hljs html" data-trim data-noescape>
&lt;span&gt;<mark>{{ currentBook.author }}</mark>&lt;/span&gt;
                  </code></pre>
                  <pre class="width-100-percent"><code class="hljs typescript" data-trim data-noescape>
@Component(...)
export class BookEntryComponent {
  <mark>currentBook</mark> = { author:'John Example', title: 'Angular in a nutshell' };
}
            </code></pre>
          <a href="https://angular.io/guide/interpolation" class="references" target="_blank">Angular Docs</a>
          <aside class="notes">
           In the template you have access to class properties inside {{...}}.
          </aside>
        </section>
        <section>
            <div class="title-with-image">
                <img class="reset" src="img/property-binding.png">
                <h2>Property Binding</h2>
            </div>
            <pre class="width-100-percent"><code class="hljs html" data-trim data-noescape>
&lt;ul&gt;
  &lt;li (click)="selectBook(firstBook)">{{ firstBook.title }}&lt;/li&gt;
  &lt;li (click)="selectBook(secondBook)">{{ secondBook.title }}&lt;/li&gt;
&lt;/ul&gt;
&lt;book-entry <mark>[book]="selectedBook"</mark>&gt;&lt;/book-entry &gt;
                  </code></pre>
            <pre class="width-100-percent"><code class="hljs typescript" data-trim data-noescape>
@Component(...)
export class BookOverviewComponent {
  firstBook = new Book(...);
  secondBook = new Book(...);
  <mark>selectedBook</mark>: Book|null = null;

  selectBook(book:Book):void {
    this.selectedBook = book;
  }
}
                  </code></pre>
                  
          <a href="https://angular.io/guide/property-binding" class="references" target="_blank">Angular Docs</a>
          <aside class="notes">
            With property bindings data is passed from parent to child component<br>
            Property bindings are always surrounded by [] brackets<br>
            The left side of the = is the name of the property as defined by the child.<br>
            The right side of the = is the name of the parent component's field to pass to the child.<br>
          </aside>
        </section>
        <section>
            <div class="title-with-image">
                <img class="reset" src="img/property-binding.png">
                <h2>Property Binding</h2>
            </div>
            <pre class="width-100-percent"><code class="hljs html" data-trim data-noescape>
&lt;ul&gt;
  &lt;li (click)="selectBook(firstBook)">{{ firstBook.title }}&lt;/li&gt;
  &lt;li (click)="selectBook(secondBook)">{{ secondBook.title }}&lt;/li&gt;
&lt;/ul&gt;
&lt;book-entry <mark>[book]</mark>="selectedBook"&gt;&lt;/book-entry &gt;
                  </code></pre>

<pre class="width-100-percent"><code class="hljs typescript" data-trim data-noescape>
@Component(...)
export class BookEntryComponent {
  <mark>@Input() book: Book|null;</mark>
}
                  </code></pre>
            <pre class="width-100-percent"><code class="hljs html" data-trim data-noescape>
        &lt;div&gt;Title: {{ <mark>book</mark>?.title }}&lt;/div&gt;
        &lt;div&gt;Author: {{ <mark>book</mark>?.author }}&lt;/div&gt;
                  </code></pre>
                  <a href="https://angular.io/guide/property-binding" class="references" target="_blank">Angular Docs</a>
                  <aside class="notes">
                    To define a property we add the Input() decorator to the field of a class<br>
                    The name of the property is defined through the name of the field<br>
                    The operator in book?.author is for optional property access. So we don't get an error if book is null
                  </aside>
        </section>
        <section>
            <div class="title-with-image">
                <img class="reset" src="img/event-binding.png">
                <h2>Event Binding</h2>
            </div>
            <pre class="width-100-percent"><code class="hljs html" data-trim data-noescape>
&lt;book-entry [currentBook]="books[0]"
           (selectBook)=<mark>"rentBook($event)"</mark>&gt;
&lt;/book-entry&gt;
&lt;book-entry [currentBook]="books[1]"
           (selectBook)=<mark>"rentBook($event)"</mark>&gt;
&lt;/book-entry&gt;
                  </code></pre>
            <pre class="width-100-percent"><code class="hljs typescript" data-trim data-noescape>
@Component(...)
export class BookOverviewComponent {
  books = [new Book(...), new Book(...)];
  rentedBook: Book|null = null;

  <mark>rentBook(book: Book)</mark> {
    this.rentedBook = book;
  }
}
                  </code></pre>
          <a href="https://angular.io/guide/event-binding" class="references" target="_blank">Angular Docs</a>
          <aside class="notes">
            With event bindings data is passed from child to parent component<br>
            Event bindings are always surrounded by () brackets<br>
            The left side of the = is the name of the event as defined by the child.<br>
            The right side of the = is the name of the parent component's method to handle the event.<br>
            $event is a keyword to pass the events payload as method param
          </aside>
        </section>
        <section>
            <div class="title-with-image">
                <img class="reset" src="img/event-binding.png">
                <h2>Event Binding</h2>
            </div>
            <pre class="width-100-percent"><code class="hljs html" data-trim data-noescape>
&lt;book-entry [currentBook]="books[0]"
           <mark>(selectBook)="rentBook($event)"</mark>&gt;&lt;/book-entry&gt;
            </code></pre>
			<pre class="width-100-percent"><code class="max-height-unset typescript" data-trim data-noescape>
@Component(...)
export class BookEntryComponent {
  @Input() currentBook: Book;
  <mark>@Output() selectBook = new EventEmitter&lt;Book&gt;();</mark>

  onSelectBtnClick(): void {
    this.selectBook.emit(this.currentBook);
  }
}
            </code></pre>
            <pre class="width-100-percent"><code class="hljs html" data-trim data-noescape>
    &lt;div&gt;Book title: {{ currentBook.title }}&lt;/div&gt;
    &lt;button (click)="onSelectBtnClick()"&gt;Rent the book&lt;/button&gt;
            </code></pre>
          <a href="https://angular.io/guide/event-binding" class="references" target="_blank">Angular Docs</a>
          <aside class="notes">
            To define an event we add the Output() decorator to a field of a class<br>
            The name of the event is defined through the name of the field<br>
            We assign a EventEmitter to the field. On this EventEmitter we can call emit() to trigger the event.
            EventEmitter can be parametrized to determine the type of the event's payload.
          </aside>
        </section>
        <section>
            <h4>Input (Data) and Output (Event) Binding</h4>
            <img class="reset" src="img/data-binding.png"></a>
            <aside class="notes">Data flows down<br>Events flow up</aside>
        </section>
        <section>
            <div class="title-with-image">
                <img class="reset" src="img/two-way-binding.png">
                <h2>Two way binding</h2>
            </div>
            <pre class="width-100-percent"><code class="hljs html" data-trim data-noescape>
&lt;input type="text" <mark>[(ngModel)]="currentBook.author"</mark>&gt;
                  </code></pre>
            <pre class="width-100-percent"><code class="hljs typescript" data-trim data-noescape>
@Component(...)
export class BookEntryComponent {
  <mark>currentBook</mark> = { author:'John Example', title: 'Angular in a nutshell' };
}
                  </code></pre>
          <a href="https://angular.io/guide/two-way-binding" class="references" target="_blank">Angular Docs</a>
          <aside class="notes">
            Two way binding is syntactic sure to handle property and event binding simultaniously.<br>
            It will immediatly update the view if the value changes in the class and vice versa.<br>
            Usually used with &lt;input&gt;<br>
            ngModel is a keyword. The right side of the = is the name of the component's field.
          </aside>
        </section>
        <section>
            <h3>Structural Directives</h3>
            <h4>ng-if (Old Syntax)</h4>
            <pre>
              <code class="html" data-trim>
                &lt;div *ngIf="book"&gt;
                  &lt;p>{{ book.description }}&lt;/p&gt;
                &lt;/div&gt;
              </code>
            </pre>
            <a class="references" href="https://angular.io/api/common/NgIf#description" target="_blank">Angular Docs *ngIf</a>                    
            <h4>&#64;if (Angular v17 onwards)</h4>
            <pre>
              <code class="html" data-trim>
                &#64;if(book) 
                {
                  &lt;p>{{ book.description }}&lt;/p&gt;
                }
              </code>
            </pre>
            <p><span class="highlight">Removes element from the DOM</span> if the book is not present.</p>

            <a class="references" href="https://angular.io/api/core/if" target="_blank">Angular Docs @if</a>
            <aside class="notes">
              Structural directives are marked with a *<br>
              Structural directives means they change the structure of the DOM. The other bindings changed values only.<br>
              *ngIf takes a condition. If the condition fails, it removes the tag and all of its content
            </aside>
        </section>
        <section>
          <h3>Structural Directives</h3>
          <h4>ng-for (Old Syntax)</h4>
          <pre>
            <code class="html" data-trim>
              &lt;ul&gt;
              &nbsp;&lt;li *ngFor="let myItem of myList"&gt;{{ myItem.someProperty }}&lt;/li&gt;
              &lt;/ul&gt;
            </code>
          </pre>
          <a class="references" href="https://angular.io/api/common/NgForOf#description" target="_blank">Angular Docs *ngIf</a>          
          <h4>&#64;for (Angular v17 onwards)</h4>
          <pre>
            <code class="html" data-trim>
              &lt;ul&gt;
              &nbsp;&#64;for (myItem of myList; track &dollar;index) 
              &nbsp;{
              &nbsp;  &lt;li&gt; {{ myItem.someProperty }} &lt;/li&gt; 
              &nbsp;}
              &lt;/ul&gt;
            </code>
          </pre>
          <a class="references" href="https://angular.io/api/core/for" target="_blank">Angular Docs @if</a>
          
          <p><span class="highlight">Creates an element</span> for every item of the collection.</p>

          <aside class="notes">
            *ngFor creates one node in the DOM for each element in myList<br>
            Inside of the tag with ngFor you have access to the loop var as to any other var of the component.
          </aside>
      </section>
        <section>
            <h3>Example - Parent</h3>
            <pre class="width-100-percent"><code class="max-height-unset typescript" data-trim>
@Component({
  selector: 'app-book-overview',
  template: `&lt;app-book-entry
                 *ngFor="let book of books"
                 [currentBook]="book"
                 (selectBook)="rentBook($event)"&gt;
             &lt;/app-book-entry&gt;`
})
export class BookOverviewComponent {
  books = [new Book(...), new Book(...)];
  rentedBook: Book|null = null;

  rentBook(book: Book) {
    this.rentedBook = book;
  }
}
            </code></pre>
        </section>
        <section>
            <h3>Example - Child</h3>
            <pre class="width-100-percent"><code class="max-height-unset typescript" data-trim>
@Component({
  selector: 'app-book-entry',
  template: `&lt;div *ngIf="currentBook"&gt;
               &lt;div&gt;Book author: {{ currentBook.author }}&lt;/div&gt;
               &lt;div&gt;Book title: {{ currentBook.title }}&lt;/div&gt;
               &lt;button (click)="onSelectBtnClick()"&gt;Rent book&lt;/button&gt;
            &lt;/div&gt;`
})
export class BookEntryComponent {
  @Input() currentBook: Book;
  @Output() selectBook = new EventEmitter&lt;Book&gt;();

  onSelectBtnClick(): void {
    this.selectBook.emit(this.currentBook);
  }
}
            </code></pre>
        </section>
    </div>
</div>

<script src="../node_modules/reveal.js/js/reveal.js"></script>
<script src="../common/reveal-config.js"></script>

<script>
    // More info https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({ ...revealConfig });
</script>
</body>
</html>
