<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Angular Data Binding</title>
    <link rel="icon" href="../common/img/favicon.ico">


    <link rel="stylesheet" href="../node_modules/reveal.js/css/reveal.css">
    <link rel="stylesheet" href="../node_modules/reveal.js/css/theme/white.css">
    <link rel="stylesheet" href="../common/css/common.css">
    <link rel="stylesheet" href="css/own.css">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="../node_modules/reveal.js/lib/css/github-gist.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match(/print-pdf/gi) ? '../node_modules/reveal.js/css/print/pdf.css' : '../node_modules/reveal.js/css/print/paper.css';
        document.getElementsByTagName('head')[0].appendChild(link);
    </script>
</head>
<body>
<section class="angular-link">
    <a href="http://angular.io" target="_blank"><img height="50px" src="../common/img/angular.svg"></a>
</section>
<section class="devon-link">
    <a href="http://devonfw.github.io" target="_blank"><img height="30px" src="../common/img/devon_logo_blue.png"></a>
</section>
<div class="devon reveal">
    <div class="slides">
        <section>
            <div class="title-with-image">
                <img class="reset" src="img/interpolation-databinding.png">
                <h2>Interpolation</h2>
            </div>

                  <pre><code class="hljs html" data-trim data-noescape>
&lt;span&gt;<mark>{{currentBook.author}}</mark>&lt;/span&gt;
                  </code></pre>
                  <pre><code class="hljs typescript" data-trim data-noescape>
@Component(...)
export class BookDetailsComponent {
  <mark>currentBook: Book;</mark>

  constructor() {
    this.currentBook =
      new Book('John Example', 'Angular in a nutshell');
  }
}
                  </code></pre>
        </section>
        <section>
            <div class="title-with-image">
                <img class="reset" src="img/property-binding.png">
                <h2>Property Binding</h2>
            </div>
            <pre><code class="hljs html" data-trim data-noescape>
&lt;ul&gt;
  &lt;li *ngFor="let book of ..." (click)="selectBook(book)">
    {{book.author}},&nbsp;&lt;span class="book-title"&gt;{{book.title}}&lt;/span&gt;
  &lt;/li&gt;
&lt;/ul&gt;
&lt;book-details <mark>[book]="selectedBook"</mark>&gt;&lt;/book-details &gt;
                  </code></pre>
            <pre><code class="hljs typescript" data-trim data-noescape>
@Component(...)
export class BookOverviewComponent {
  <mark>selectedBook: Book;</mark>

  selectBook(book:Book):void {
    this.selectedBook = book;
  }
}
                  </code></pre>
        </section>
        <section>
            <div class="title-with-image">
                <img class="reset" src="img/event-binding.png">
                <h2>Event Binding</h2>
            </div>
            <pre><code class="hljs html" data-trim data-noescape>
&lt;ul&gt;
  &lt;li *ngFor="let book of ..." <mark>(click)="selectBook(book)"</mark>>
    {{book.author}},&nbsp;&lt;span class="book-title"&gt;{{book.title}}&lt;/span&gt;
  &lt;/li&gt;
&lt;/ul&gt;
                  </code></pre>
            <pre><code class="hljs typescript" data-trim data-noescape>
@Component(...)
export class BookOverviewComponent {
  selectedBook: Book;

  <mark>selectBook(book:Book):void {
    this.selectedBook = book;
  }</mark>
}
                  </code></pre>
        </section>
        <section>
            <div class="title-with-image">
                <img class="reset" src="img/two-way-binding.png">
                <h2>Two way binding</h2>
            </div>
            <pre><code class="hljs html" data-trim data-noescape>
&lt;input type="text" <mark>[(ngModel)]="currentBook.author"</mark>&gt;
                  </code></pre>
            <pre><code class="hljs typescript" data-trim data-noescape>
@Component(...)
export class BookDetailsComponent {
  <mark>currentBook: Book;</mark>

  constructor() {
    this.currentBook =
      new Book('John Example', 'Angular in a nutshell');
  }
}
                  </code></pre>
        </section>
		<section>
			<h4>Input (Data) and Output (Event) Binding</h4>
			<img class="reset" src="img/data-binding.png"></a>
		</section>
        <section>
            <h3>Structural Directives</h3>
            <h4>ng-if</h4>
            <pre><code class="html" data-trim>
&lt;div *ngIf="book"&gt;
  &lt;p>{{book.description}}&lt;/p&gt;
&lt;/div&gt;
            </code></pre>
            <p><span class="highlight">Removes element from the DOM</span> if book not present (this prevents errors - undefined.book is not valid).</p>
            <h4>ng-for</h4>
            <pre><code class="html" data-trim>
&lt;ul&gt;
  &lt;li *ngFor="let item of list"&gt;{{item.property}}&lt;/li&gt;
&lt;/ul&gt;
            </code></pre>
            <p><span class="highlight">Creates an element</span> for every item of the collection.</p>
        </section>
        <section>
            <h3>Binding to custom events</h3>
            <pre><code class="max-height-unset typescript" data-trim>
@Component({
  selector: 'parent',
  template: '&lt;child (message)="onChildClick($event)"&gt;</child>'
})
export class ParentComponent {
  onChildClick(text: string): void {
    console.log('child gave me:', text);
  }
}

@Component({
  selector: 'child',
  template: '&lt;button (click)="onButtonClick()"&gt;Click me&lt;/button&gt;',
} as Component)
export class ChildComponent {
  @Output() message = new EventEmitter&lt;string&gt;();

  onButtonClick(): void {
    this.message.emit('value of the event');
  }
}
            </code></pre>
        </section>
    </div>
</div>

<script src="../node_modules/reveal.js/lib/js/head.min.js"></script>
<script src="../node_modules/reveal.js/js/reveal.js"></script>

<script>
    // More info https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        history: true,

        // More info https://github.com/hakimel/reveal.js#dependencies
        dependencies: [
            { src: '../node_modules/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
            { src: '../node_modules/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: '../node_modules/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: '../node_modules/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: '../node_modules/reveal.js/plugin/zoom-js/zoom.js', async: true },
            { src: '../node_modules/reveal.js/plugin/notes/notes.js', async: true }
        ]
    });
</script>
</body>
</html>
